body {
    color: #8a2be2;
    font-family: Agency FB;
    font-size: 3vh;
    background-image: url(/Images/Background/spacebackground.gif);
}

.intro {
    display: grid;
    align-items: center; 
    grid-template-columns: 0.5fr 2fr;
    margin:2.5%;
}

.image{
    border: blueviolet 1px solid;
}

.headers {
    color: #ffc0cb;
    font-weight: bold;
}

.va {
    vertical-align: middle;
}

.il {
    display: inline;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px; 
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #000;
    background-color: blueviolet
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 15px;
    width: 15px;
    display: block;
    background-repeat: no-repeat;
    border: 1px solid blueviolet;  
    background-color: #000;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url();
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url();
}

p{
    margin:2.5%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, black, blueviolet, black);
}

a{
    color: rgb(138, 43, 226);
    text-decoration: underline dashed; }

a:hover{
    color: #FBB1C0;
}

#title{
    top:3%;
    position:absolute;
    left:30%;
    text-shadow: 2px 2px white;}

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10fr 15fr 30fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 10px 1%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "foot header header header header"
    "foot profile1 profile1 profile1 profile1"
    "main main main main main"
    ". . . . .";
    margin: 0 auto;
    margin-top: 8%;
    margin-left: 22%;
    width:60%;
    height: 150vh;
}

.header { 
    grid-area: header; 
    background-color: aqua;
    border: blueviolet 1px solid; 
    width:100%;
    height:100%;
}

#header_img{
    width:100%;
    height:100%;
    object-fit: fill;
    background-position: 57% 50%; 
    background-image:url('/Images/Background/purpskybg.jpg');
}

.main { 
    grid-area: main; 
    background-color: rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    border: blueviolet 1px solid; 
    overflow:auto;
}

.center-middle {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.foot { 
    grid-area: foot; 
    background-color: rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    border: blueviolet 1px solid; 
    overflow:auto;
}

.profile1 { 
    grid-area: profile1; 
    background-color: rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    border: blueviolet 1px solid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 640px) {  .container{
    display: flex; 
    flex-flow: column; 
    position:relative;
    width:95%;
    right:19%;
    margin-top:3%;
    font-size:2vh;
  }

  .header{
    height:150%;
    order: 1;
  }

  .main{
    order:2;
    height:250%;
  }

  .profile1{
    display:none
  }

  .profile2{
    height:25%;
    order:3;
    height:150%;
  }

  body{
    font-size: 3vh;
  }

  ul{
    margin-left:28%;
  }

  .profile3{
    order:4;
  }

  .foot{
    order:5;
  }

  #title{
    display:none;
  }

}

