@font-face {
    font-family: Agency FB;
    src: url(/Fonts/Agency_FB.ttf);
}

body {
    color: blueviolet;
    font-family: Agency FB;
    font-size: 3vh;
    background-image: url(/Images/Background/spacebackground.gif);
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #000;
    background-color: blueviolet
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 15px;
    width: 15px;
    display: block;
    background-repeat: no-repeat;
    border: 1px solid blueviolet;
    background-color: #000;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url();
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url();
}

#title {
    top: 3%;
    position: absolute;
    left: 30%;
    text-shadow: 2px 2px white;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 10fr;
    grid-auto-columns: 1fr;
    gap: 10px 1%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "foot header header header header"
        "foot main main main main";
    margin: 0 auto;
    margin-top: 8%;
    margin-left: 22%;
    width: 60%;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: aqua;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

#header_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-position: 57% 50%;
    background-image: url('/Images/Background/purpskybg.jpg');
    border-radius: 8px;
}

.main {
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
    overflow:auto;
}

.center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    grid-area: foot;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
    overflow: auto;
}

@media only screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-flow: column;
        position: relative;
        width: 95%;
        right: 19%;
        margin-top: 3%;
        font-size: 2vh;
    }

    .header {
        height: 150%;
        order: 1;
    }

    .main {
        order: 2;
        height: 250%;
    }

    body {
        font-size: 3vh;
    }

    ul {
        margin-left: 28%;
    }

    #title {
        display: none;
    }

}