@font-face {
  font-family: Agency FB;
  src: url(/Fonts/Agency_FB.ttf);
}

@font-face {
  font-family: Glyphs;
  src: url(/Fonts/NoitaGlyphScaled.ttf);
}

body {
  color: blueviolet;
  font-family: Agency FB;
  font-size: 3vh;
  background-image: url(/Images/Background/spacebackground.gif);
}

#title {
  top: 13%;
  position: absolute;
  left: 30%;
  text-shadow: 2px 2px white;
}

#amplocation {
  position: fixed;
  top: 0;
  left: 0;
}

.disclaimer {
  color: rgb(255, 255, 255);
  position: relative;
  left: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  border: 2px solid gray;
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.disclaimer a {
  color: red;
}
.disclaimer a:hover {
  color: red;
}
.disclaimer button {
  font-size: 20px;
  font-weight: bold;
  font-family: Agency FB;
  background-color: blueviolet;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 100px 120px 100px 180px 200px 400px;
  grid-auto-columns: 1fr;
  gap: 10px 1%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "profile2 header header header profile1"
    "profile2 main main main profile7"
    "nekoWeb main main main profile5"
    "profile3 main main main profile5"
    "profile6  foot foot foot profile5"
    "profile8 foot foot foot profile9"
    "profile4 profile4 profile4 profile4 profile4"
    "profile4 profile4 profile4 profile4 profile4"
    "profile4 profile4 profile4 profile4 profile4"
    "profile4 profile4 profile4 profile4 profile4";
  margin: 0 auto;
  margin-top: 8%;
  margin-left: auto;
  width: 60%;
  height: auto;
}

.header {
  grid-area: header;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
}

#header_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-position: 57% 50%;
  background-image: url('/Images/Background/purpskybg.jpg');
  border-radius: 8px;
}

.nekoWeb {
  grid-area: nekoWeb;
  background-color: rgba(0, 0, 0, 0.7);
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
}

.profile1 {
  grid-area: profile1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: scroll;
}

.profile2 {
  grid-area: profile2;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.main {
  grid-area: main;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.profile3 {
  grid-area: profile3;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.profile4 {
  grid-area: profile4;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.profile5 {
  grid-area: profile5;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.profile6 {
  grid-area: profile6;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.profile7 {
  grid-area: profile7;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.profile8 {
  grid-area: profile8;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.profile9 {
  grid-area: profile9;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
  font-family: Glyphs;
  position: relative;
  color:#fff;
  padding: 3px;
}

.foot {
  grid-area: foot;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: blueviolet 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

@media only screen and (max-width: 640px) {
  .disclaimer {
    width: auto;
    left: 0%;
  }
  .container {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 95%;
    right: 19%;
    margin-top: 3%;
    font-size: 2vh;
    margin-left: 22%;
    height: 150vh;
  }

  .header {
    height: 150%;
    order: 1;
  }

  .main {
    order: 2;
    height: 250%;
  }

  .profile1 {
    order: 0;
    display: none;
  }

  .profile2 {
    height: 25%;
    order: 3;
    height: 150%;
  }

  body {
    font-size: 3vh;
  }

  ul {
    margin-left: 28%;
  }

  .profile3 {
    order: 4;
  }

  .foot {
    order: 5;
  }

  .profile4 {
    order: 6;
  }

  .profile5 {
    display: none;
    order: 7;
  }

  .profile6 {
    order: 8;
  }

  .profile7 {
    order: 9;
  }

  .profile8 {
    order: 10;
  }

  .profile9 {
    order: 11;
  }

  #title {
    display: none;
  }

}