@font-face {
  font-family: Agency FB;
  src: url(/Fonts/Agency_FB.ttf);
}

@font-face {
  font-family: Glyphs;
  src: url(/Fonts/NoitaGlyphScaled.ttf);
}

body {
  color: #8a2be2;
  font-family: Agency FB;
  font-size: 3vh;
  background-image: url(/Images/Background/spacebackground.gif);
}

#title {
  top: 13%;
  position: absolute;
  left: 30%;
  text-shadow: 2px 2px white;
}

#amplocation {
  position: fixed;
  top: 0;
  left: 0;
}

.disclaimer {
  color: rgb(255, 255, 255);
  position: relative;
  left: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  border: 2px solid gray;
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.disclaimer a {
  color: red;
}
.disclaimer a:hover {
  color: red;
}
.disclaimer button {
  font-size: 20px;
  font-weight: bold;
  font-family: Agency FB;
  background-color: #8a2be2;
}

button:hover {
  cursor: url('/Images/Cursors/LINK.CUR'), default;
}

.cont88x31 {
  display: flex;
}

.column50 {
	flex: 50%;
  text-align: center;
}

.column50:nth-of-type(even) {
	text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 100px 120px 100px 200px 100px 280px max-content;
  grid-auto-columns: 1fr;
  gap: 10px 1%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "p2 header header header p1"
    "p2 main main main p7"
    "p6 main main main p5"
    "p6 main main main p5"
    "lfm lfm nekoWeb p10 p5"
    "p3  foot foot foot p5"
    "p8 foot foot foot p9"
    "p4 p4 p4 p4 p4";
  margin: 0 auto;
  margin-top: 8%;
  margin-left: auto;
  width: 60%;
  height: auto;
}

.header {
  grid-area: header;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
}

#header_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-position: 57% 50%;
  background-image: url('/Images/Background/purpskybg.jpg');
  border-radius: 8px;
}

.nekoWeb {
  grid-area: nekoWeb;
  background-color: rgba(0, 0, 0, 0.7);
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.lastfm {
  grid-area: lfm;
  background-color: rgba(0, 0, 0, 0.7);
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.p1 {
  grid-area: p1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: scroll;
}

.p2 {
  grid-area: p2;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.main {
  grid-area: main;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.p3 {
  grid-area: p3;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.p4 {
  grid-area: p4;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: show;
}

.p5 {
  grid-area: p5;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.p6 {
  grid-area: p6;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.p7 {
  grid-area: p7;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.p8 {
  grid-area: p8;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

.p9 {
  grid-area: p9;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
  font-family: Glyphs;
  position: relative;
  color:#fff;
  padding: 3px;
  font-size: 3.3vh;
}

.p10 {
  grid-area: p10;
  background-image: url(/Images/misc/genos.gif);
  background-size:cover;
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
  font-family: Glyphs;
  position: relative;
  color:#fff;
  padding: 3px;
}

.foot {
  grid-area: foot;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border: #8a2be2 2px solid;
  border-radius: 10px;
  scrollbar-width: none;
  overflow: auto;
}

@media only screen and (max-width: 640px) {
  .disclaimer {
    width: auto;
    left: 0%;
  }

  body {
    font-size: 3vh;
  }

  ul {
    margin-left: 28%;
  }

  .container {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 95%;
    right: 19%;
    margin-top: 3%;
    font-size: 2vh;
    margin-left: 22%;
    height: 100%;
  }

  .header {
    height: 100px;
    order: 1;
  }

  .main {
    order: 2;
    height: 300px;
  }

  .p1 {
    display: none;
  }

  .p2 {
    order: 3;
    height: 200px;
  }

  .nekoWeb {
    order: 4;
    height: 100px;
  }

  .p3 {
    order: 5;

  }

  .foot {
    order: 6;
    height: 250px;
  }

  .p4 {
    order: 7;
    overflow: scroll;
    height: 250px;
  }

  .p5 {
    display: none;
    order: 8;
  }

  .p6 {
    order: 9;
    height: 200px;
  }

  .p7 {
    display: none;
  }

  .p8 {
    order: 10;
    height: 200px;
  }

  .p9 {
    order: 11;
    font-size: 2vh;
  }

  .p10 {
    display: none;
  }

  .lastfm {
    order: 12;
    height: 200px;
  }

  .disc img {
    height: 50px;
  }

  #title {
    display: none;
  }

}