@font-face {
    font-family: NoitaFont;
    src: url(/Fonts/NoitaPixel.ttf);
}

@font-face {
    font-family: Glyphs;
    src: url(/Fonts/NoitaGlyphScaled.ttf);
}

.glyphs {
    font-family: Glyphs;
    color: rgb(150, 0, 0);
}

body {
    color: blueviolet;
    font-family: NoitaFont;
    font-size: 2.5vh;
    background-image: url(/Images/Background/spacebackground.gif);
}

#title {
    top: 3%;
    position: absolute;
    left: 30%;
    text-shadow: 2px 2px white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2.5fr 5fr 5fr 5fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 10px 1%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "header header header header header"
        "p1 main main main p2"
        "p1 main main main p2"
        "p3 main main main p2"
        ". . . . .";
    margin: 0 auto;
    margin-top: 8%;
    margin-left: 22%;
    width: 60%;
    height: 150vh;
}

.header {
    grid-area: header;
    background-color: aqua;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

#header_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-position: 57% 50%;
    background-image: url('/Images/Background/purpskybg.jpg');
    border-radius: 8px;
}

.p1 {
    grid-area: p1;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
}

.p2 {
    grid-area: p2;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
    overflow: auto;
}

.main {
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
    overflow: auto;
}

.p3 {
    grid-area: p3;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    border: blueviolet 2px solid;
    border-radius: 10px;
    scrollbar-width: none;
    overflow: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-flow: column;
        position: relative;
        width: 95%;
        right: 19%;
        margin-top: 3%;
        font-size: 2vh;
    }

    .header {
        height: 150%;
        order: 1;
    }

    .main {
        order: 2;
        height: 250%;
    }

    .p1 {
        height: 250%;
        order: 3;
    }

    .p2 {
        display: none;
    }

    body {
        font-size: 3vh;
    }

    ul {
        margin-left: 28%;
    }

    .p3 {
        order: 4;
    }

    .foot {
        order: 5;
    }

    #title {
        display: none;
    }
}