body {
    color: blueviolet;
    font-family: Agency FB;
    font-size:25px;
    background-image: url(/Images/Background/spacebackground.gif);
}

.headers {
    color: pink;
}

.va {
    vertical-align: middle;
}

.il {
    display: inline;
}