.text-rainbow-animation {
  background-image:
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 180s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

sup {
  vertical-align: super;
}

.text-rainbow-animation-small {
  background-image:
    linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 500s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

sup {
  vertical-align: super;
}

.text-trans-animation {
  background-image:
    linear-gradient(to right, #5BCEFA, #F5A9B8, #FFFFFF, #F5A9B8, #5BCEFA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: trans-animation 3s linear infinite;
}

@keyframes trans-animation {
  to {
    background-position: 40vh;
  }
}

.text-dutch {
  background-image:
    linear-gradient(to bottom, red, white, blue);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.text-spijk {
  background-image:
    linear-gradient(to bottom, #0063BE, #FFFFFF, #FCCC00);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.text-ench-animation {
  background-image: url(Images/misc/text_glint.png);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: ench-animation 3s linear alternate infinite;
}

@keyframes ench-animation {
  to {
    background-position: 20vh;
  }
}

.text-vapor-animation {
  background-image:
    linear-gradient(to right, #300350, #94167F, #E93479, #F9AC53, #F62E97, #F9AC53, #E93479, #94167F, #300350);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: vapor-animation 20s linear infinite;
}

@keyframes vapor-animation {
  to {
    background-position: 200vh;
  }
}

.wave {
  animation: wave 1s infinite;
  display: inline-block;
  transform-origin: bottom;
  animation-delay: calc(.1s * var(--i));
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.headers {
  color: pink;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.9px 0.9px #fff;
}

.center {
  text-align: center;
}

p {
  margin: 2.5%;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, black, #8a2be2, black);
}

a {
  color: rgb(138, 43, 226);
  text-decoration: underline dashed;
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: #FBB1C0;
}

.va {
  vertical-align: middle;
}

.il {
  display: inline;
}

.center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}