@font-face {
    font-family: Minecraft;
    src: url(/Fonts/Monocraft-no-ligatures.ttf);
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip:hover::after {
    content: attr(tip);
    position: absolute;
    background: #000;
    color: #fff;
    font-family: Minecraft;
    font-size: 1.7vh;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
    bottom: 70%;
    transform: translateX(-50%);
    visibility: visible;
    border: 3px solid;
    border-color: #8a2be2;
    border-image-slice: 1;
    z-index: 100;
}