body {
    background-color: #00000000;
    color: white;
    font-family: Agency FB;
    background-image: url(Images/Background/background\ cloud2.jpg);
}

.text-rainbow-animation {
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 180s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

sup {
  vertical-align: super;
}

.text-trans-animation {
  background-image: 
    linear-gradient(to right, #5BCEFA, #F5A9B8, #FFFFFF, #F5A9B8, #5BCEFA); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: trans-animation 3s linear infinite;
}

@keyframes trans-animation {
  to {
    background-position: 40vh;
  }
}

.retronaut{
  background-image: url(Images/Background/spacebackground2.gif);
  width: 600px;
  height: 50px;
}

.webring-box {
  background-image: url(Images/Background/Windows\ 98\ textpad.png);
  position: absolute;
  top: 200px;
  right: 0;
  width: 688px;
  height: 417px;
}