body {
    background-color: #00000000;
    color: #F5A9B8;
    font-family: Agency FB;
    font-size:20px;
    background-image: url(Images/Background/sZ2C8auK_4x.jpg);
}

.text-rainbow-animation {
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow-animation 180s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

sup {
  vertical-align: super;
}

.text-trans-animation {
  background-image: 
    linear-gradient(to right, #5BCEFA, #F5A9B8, #FFFFFF, #F5A9B8, #5BCEFA); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: trans-animation 3s linear infinite;
}

@keyframes trans-animation {
  to {
    background-position: 40vh;
  }
}

.retronaut{
  background-image: url(Images/Background/spacebackground2.gif);
  width: 600px;
  height: 50px;
}

.webring-box {
  background-image: url(Images/Background/Windows\ 98\ textpad.png);
  position: absolute;
  top: 200px;
  right: 0;
  width: 688px;
  height: 417px;
}

.text-shadow{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
}

.flash-text {
  animation: flash 1s infinite;
  position: fixed;
  size: 16px;
  top: 11%;
  left: 6%;
  transform: translateY(-50%);
  z-index: 1;
}

@keyframes flash {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
