#dailup {
    position: absolute;
    margin-top: -1200px;
    margin-left: 1200px;
}

#roseball {
    position: fixed;
    top: 120%;
    right: 95%;
    margin-top: -230px;
    margin-left: 300px;
}

#geo {
    position: fixed;
    top: 120%;
    right: 1%;
    margin-top: -220px;
    margin-left: 400px;
}

#estro {
    position: fixed;
    top: 35%;
    right: 0%;
    margin-top: -250px;
    margin-left: 400px;
}

.aligned-image {
    display: inline-block;
    vertical-align: middle;
}

#info {
    position: fixed;
    top: 35%;
    left: 0%;
    margin-top: -250px;
    margin-left: 0px;
}