body {
    background-image: url(BloodMoon.jpg); /* Taken from https://www.timeanddate.com/eclipse/blood-moon.html */
    background-size: 100%;
    color: red;
}

.container {
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: auto;
    align-content: center;
    padding-left: 2.5%;
    
}

.container div {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 95%;
    height: auto;
    border: solid red 5px;
    border-radius: 5px;
    margin: 5px;
}
h1 {
    text-align: center;
}
hr{
    color: red;
    height: 5px;
    background-color: red;
    border: none;
}